export GOPATH=$HOME/golang
export GO111MODULE="on"

export PATH=$HOME/bin:/usr/local/bin:$HOME/golang/bin:$PATH
export PATH=$PATH:/usr/local/opt/go/libexec/bin:/opt/apache-maven/bin
export PATH=/usr/local/bin/python3.7:$PATH

export REVIEW_BASE="master"

# You may need to manually set your language environment
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"


# vim as default
export EDITOR="nvim"
export VISUAL="nvim"
