function encode() {
    echo -n "$1" | base64
}

function decode() {
    echo "$1" | base64 --decode
}

function pod() {
    sky ls pods | tail -n +2 | head -$1 | tail -1 | awk -F ' ' '{print $1}'
}

function devNamespace() {
    kubectl config use-context ethos14-stage-va7
    kubectl config set-context --current --namespace=ns-team-aem-josec-dev
}
